.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body{
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  color: $default;
  background-color: $white;
  @extend %ruda-600;
}

.header__top-wrap,
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 72px 0;
}

.main {
  flex-grow: 1;
}

.title {
  font-size: 32px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $title;
  @extend %ruda-600;
  margin-bottom: 30px;
}

.header__link,
.search input,
.user-nav__link,
.advant__item,
.product-card__heart {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}

.button {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.03em;
  @extend %opensans-400;
  padding: 11px 24px;
  color: $white;
  background-color: $accent;
  border-radius: 6px;
  transition: background-color 0.5s, color 0.3s, box-shadow 0.5s;
}

.button:hover {
  background-color: $hovergreen;
}

.button:focus {
  box-shadow: 0px 0px 0px 4px #e0edcf;
}

.button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: $accent;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}