html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: transparent;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
}

button,
input {
  overflow: visible;
}

a {
  text-decoration: none;
  color: inherit;
}