$accent: #63a60f;
$hovergreen: #4d810c;
$green-100: #eff6e7;
$green-200: #e0edcf;
$green-300: #f3f3f2;
$default: #505050;
$title: #121212;
$text: #31352b;
$placeholder: #4f4f4f;
$silver-100: #f6f6f6;
$silver-200: #f2f2f2;
$silver-600: #c1c1c1;
$white: #ffffff;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$decor: #cf3e3b;

$b-radius: 6px;

%opensans {
  font-family: 'OpenSans', sans-serif;
}

%ruda {
  font-family: 'Ruda', sans-serif;
}