$accent: #63a60f;
$hovergreen: #4d810c;
$green-100: #eff6e7;
$green-200: #e0edcf;
$green-300: #f3f3f2;
$default: #505050;
$title: #121212;
$text: #31352b;
$silver-100: #f6f6f6;
$silver-200: #f2f2f2;
$silver-600: #c1c1c1;
$white: #ffffff;
$orange-900: #ff7a00;
$decor: #cf3e3b;

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-400 {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}

