@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  color: $white;

  &__top {
    background-color: $text;
    @extend %opensans-700;
  }

  &__top-wrap {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 16px 15px;
  }

  &__link {
    padding: 14px 0 14px 40px;
  }

  &__link:not(:last-child) {
    margin-right: 48px;
  }

  .menu {

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $accent;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 200px;
    max-height: 100%;

    &__img {
      margin-right: 26px;
    }
  }

  .burger {
    position: relative;
    max-width: 240px;
    width: 100%;
    font-weight: 600;
    line-height: 1.4;
    color: $accent;
    background-color: $white;
    border-radius: 6px;
    padding: 15px 38px 15px 61px;
    margin-right: 5px;
  }

  .burger span,
  .burger span::before,
  .burger span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    background-color: $accent;
  }

  .burger span {
    width: 25px;
    margin-left: 17px;
  }

  .burger span::before {
    width: 20px;
    top: 10px;
  }

  .burger span::after {
    width: 25px;
    bottom: -20px;
  }

  .search {
    display: block;
    max-width: 576px;
    width: 100%;
    margin-right: 42px;

    &__form {
      display: flex;
    }

    &__label {
      flex: 1 1 auto;
    }

    &__input {
      width: 100%;
      color: $text;
      background-position: 12px 50%;
      background-color: $white;
      padding: 15px;
      border-radius: 6px 0 0 6px;
    }

    &__input::placeholder {
      letter-spacing: 0.03em;
      padding-left: 51px;
    }

    &__btn {
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      background-color: $text;
      border-radius: 0 6px 6px 0;
      padding: 0 52px;
    }
  }

  .user-nav {
    display: flex;
    justify-content: space-between;
    max-width: 155px;
    width: 100%;

    &__link {
      position: relative;
      background-size: initial;
      background-position: center;
      width: 50px;
      height: 50px;
      border: 1px solid transparent;
      border-radius: 3px;
    }

    &__link:not(:last-child) {
      margin-right: 10px;
    }

    &__num {
      position: absolute;
      left: -1;
      top: 1;
      width: 18px;
      height: auto;
      font-size: 10px;
      font-weight: 600;
      line-height: 1.8;
      color: $decor;
      text-align: center;
      border-radius: 50%;
      background-color: $white;
    }
  }
}

.top-slider {

  &__item--bg {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
  }

  &__item {
    height: 600px;
    padding: 142px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    max-width: 760px;
    font-size: 60px;
    line-height: 1.3;
    @extend %ruda-900;
    margin-bottom: 12px;
  }

  &__title--color {
    color: $decor;
  }

  &__text {
    font-size: 16px;
    @extend %opensans-400;
    margin-bottom: 32px;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 18px;
    fill: $default;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 1;
  }

  .slick-next {
    right: 10%;
  }

  .slick-prev {
    left: 10%;
  }

  .slick-next:hover,
  .slick-prev:hover {
    background-color: $green-200;
    fill: $accent;
  }

  .slick-next:focus,
  .slick-prev:focus {
    background: $silver-200;
    box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
  }

  .slick-next:active,
  .slick-prev:active {
    background-color: $green-300;
  }
}

.advant {
  background-color: $silver-100;
  padding: 48px 0 29px 0;

  &__items {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    background-position: left top;
    padding: 6px 5px 7px 74px;
  }

  &__subtitle {
    font-size: 16px;
    @extend %opensans-600;
    color: $title;
    margin-bottom: 5px;
  }

  &__text {
    max-width: 190px;
    @extend %opensans-400;
    color: $default;
  }
}

.top-product {
  text-align: center;

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__filter-btn {
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $default;
    padding: 0;
    @extend %opensans-700;
  }

  &__filter-btn:not(:last-child) {
    margin-right: 24px;
  }

  .mixitup-control-active {
    border-bottom: 3px solid $silver-100;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
    margin-bottom: 50px;
  }

  &__btn {
    color: $accent;
    background-color: $white;
    border: 1px solid $accent;
  }

  &__btn:hover {
    background-color: $green-100
  }

  &__btn:focus {
    background-color: $white;
  }

  &__btn:active {
    color: rgba(99, 166, 14, 0.5);
    background-color: $white;
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.product-card {
  position: relative;
  width: 300px;
  height: 410px;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  padding: 55px 18px 18px;

  &__badges {
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &__heart {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
    fill: $silver-600;
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    max-height: 60px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $title;
    @extend %opensans-600;
  }

  &__price {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: $silver-600;
    @extend %opensans-400;
    left: 18px;
    bottom: 18px;
  }

  &__price--old {
    position: relative;
  }

  &__price--line::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: rotate(-15deg);
    background-color: $silver-600;
  }

  &__price--new {
    color: $default;
  }

  &__btn {
    position: absolute;
    right: 18px;
    bottom: 18px;
  }
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__badge {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    @extend %opensans-700;
    padding: 3px 6px;
    border-radius: 6px;
  }

  &__badge:not(:last-child) {
    margin-bottom: 6px;
  }

  &__badge--novelty {
    background-color: $accent;
  }

  &__badge--sale {
    background-color: $decor;
  }

  &__badge--hit {
    background-color: $orange-900;
  }
}


.footer {
  color: $white;
  background-color: $text;
  padding: 30px 0;
  @extend %opensans-400;
  
  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__left-bar {
    width: 30%;
  }

  &__update {
    display: inline-block;
    line-height: 1;
    margin-bottom: 18px;
  }

  &__form-input {
    max-width: 180px;
    width: 100%;
    padding: 8px 0 10px 10px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    margin-right: -3px;
  }

  &__form-input::placeholder {
    line-height: 1;
    color: $placeholder;
  }

  &__form-btn {
    padding: 11px 16px 10px 16px;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    @extend %opensans-700;
    border-radius: 0 6px 6px 0;
    background-color: $accent;
  }

  &__nav {
    width: 50%;
    column-count: 3;
  }

  &__link {
    display: block;
    margin-bottom: 18px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  &__link {
    margin-bottom: 18px;
  }
}

.social {

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__list-item {
    width: 32px;
    height: 32px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center;
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 28px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    text-transform: uppercase;
  }

  &__payment {
    display: flex;
  }

  &__payment-link:not(:last-child) {
    margin-right: 20px;
  }
}




@import 'media';