.one-product {
  padding: 48px 0;
}

.product {

  &__inner {
    @include flx;
  }

  /* .product__slide */

  &__slide {
    max-width: 630px;
    margin-right: 30px;
    border: 1px solid $silver-600;
    border-radius: 4px;
  }

  /* .product__content */

  &__content {
    position: relative;
    flex: 1 auto;
  }

  /* .product__badges */

  &__badges {
    position: inherit;
  }
}

.product-slide {

  /* .product-slide__item */

  // &__item {}

  /* .product-slide__img */

  &__img {
    margin: 0 auto;
  }
}

.product-content {

  //   /* .product-content__info */
  &__inner {
    @include flx;
  }

  &__info-box {
    display: flex;
  }
  
  &__code {
    margin-right: 15px;
  }

  &__status {
    font-size: 16px;
    
  }

  //   /* .product-content__rating */

  // &__star {
  // }

  //   &__rating {}

  //   /* .product-content__prices */

  //   &__prices {}

  //   /* .product-content__form */

  //   &__form {}

  //   /* .product-content__label */

  //   &__label {}

  //   /* .product-content__input */

  //   &__input {}
}