.catalog-content {
  &__filter {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 48px;
  }

  &__btn {
    width: 47px;
    height: 47px;
    @include bg;

    &--list {
      margin-right: 15px;
    }

    &.catalog-content__btn--active {
      path {
        fill: $green-900;
      }
    }
  }

  &__filter-select {
    margin-right: 15px;
  }

  &__product-card.product-card {
    padding-bottom: 46px;

    .product-card__img {
      margin-bottom: 0;
    }

    .promo-card__status {
      margin: 3px 0 9px 0;
    }

    .promo-card__rating {
      top: 68%;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;

    &.catalog-content__items--list {
      .product-card {
        flex-direction: row;
        padding: 5px 55px 5px 5px;

        &__img {
          max-width: 200px;
          max-height: 150px;
          padding-bottom: 5px;
        }

        &__link-img {
          flex: 0 1 200px;
          margin-right: 5px;

          &::before,
          &::after {
            display: none;
          }
        }

        &__heart {
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
        }

        &__prices {
          left: 210px;
          bottom: 12px;
        }

        .promo-card__rating {
          top: 12px;
          right: 18px;
        }
      }

      .promo-card__status {
          margin: 3px 0 19px 0;
        }

      .catalog-content__item {
        flex: 0 1 466px;
      }

      .badges {
        left: 7px;
        top: 6px;
      }
    }
  }

  &__item {
    flex: 0 1 300px;
    margin-bottom: 30px;
  }

  &__bottom {
    @include flx;
  }
}

.jq-selectbox {
  &__select {
    height: auto;
    width: 100%;
    padding: 15px 20px 15px 11px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    line-height: 1.2;
    color: $dark-500;
    margin-right: 15px;
    @include bdr;
    @extend %opensans;

    &:hover {
      background: transparent;
    }

    &:active {
      border-color: $dark-500;
      border-radius: 3px 3px 0 0;
      box-shadow: none;
    }
  }

  &__select-text {
    text-overflow: clip;
  }

  &__trigger {
    border-left: none;
  }

  &__trigger-arrow {
    position: absolute;
    top: 49%;
    right: 20px;
    width: 10px;
    height: 6px;
    border: none;
    fill: $silver-600;
    background-image: url('../images/svg/icon/chevron-up.svg');
    transform: rotate(180deg);
    @include bg;
  }

  &.opened &__trigger-arrow {
    transform: rotate(180deg);
  }

  &.focused &__select {
    border-color: $silver-600;
    box-shadow: 0 0 0 3px $green-200;
  }

  &.opened &__select {
    border-color: $dark-500;
    border-radius: 3px 3px 0 0;
  }

  &.dropdown &__select {
    box-shadow: none;
  }
  
  &__dropdown {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid $silver-600;
    border-radius: 0 0 3px 3px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    @extend %opensans;
  }

  &.dropdown &__trigger-arrow {
    transform: rotate(360deg);
  }

  & li {
    margin: 15px 12px 15px -30px;

    &.selected {
      background-color: transparent;
      color: $dark-500;
    }

    &:hover {
      background-color: transparent;
      color: $dark-500;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
  }
}