.catalog {

  &__title {
    text-align: left;
    padding: 48px 0;
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    margin-bottom: 72px;
  }

  &__filters {
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
    flex: none;
  }
}



