.badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 12px;
  top: 12px;

  &__badge {
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    padding: 3px 6px;
    border-radius: $b-radius;

    &--novelty {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}