.footer {
  font-weight: 400;
  color: $white;
  background-color: $dark-800;
  padding: 30px 0 24px;
  transition: color 0.5s;

  .footer-top {
    margin: 30px 0 40px 0;
    @include flx;

    &__left-bar {
      margin-right: 85px;
    }

    &__update {
      line-height: 1;
      font-weight: 400;
      letter-spacing: 0;
      margin: 3px 0 16px 0;
    }
  }

  .footer-form {
    width: 100%;

    &__input {
      padding: 10px;
      background-image: none;

      &:focus,
      &:active {
        border: 1px solid $green-900;
        box-shadow: 0 0 0 3px $green-200;
      }

      &::placeholder {
        font-size: 14px;
        line-height: 1;
        color: $placeholder;
      }
    }

    &__btn {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 16px;
      border-radius: 0 6px 6px 0;

      &:focus {
        box-shadow: 0 0 0 4px $green-200;
      }
    }
  }

  .nav-menu {
    column-count: 3;
    column-gap: 65px;

    &__item {
      margin-bottom: 18px;
    }

    &__link {
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .contacts-wrap {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    
    &__link {
      margin-bottom: 18px;
      transition: opacity 0.5s;
      
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__social {
    margin-left: 14px;
  }

  .footer-bottom {
    border-top: 1px solid rgba($white, 0.1);
    padding-top: 16px;

    &__wrap {
      align-items: center;
      @include flx;
    }

    &__copy {
      text-transform: uppercase;
    }
  }

  .footer-payment {
    display: flex;

    &__link {
      transition: opacity 0.5s;
      
      &:not(:last-child) {
        margin-right: 24px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}