.form-search {
  max-width: 576px;
  width: 100%;
  border-radius: $b-radius;
  @include flx;

  &__label {
    flex: 1;
  }

  &__input {
    width: 100%;
    background-color: $white;
    color: $red-900;
    padding: 14px 15px 14px 50px;
    border-radius: 6px 0 0 6px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 3px transparent;
    background-image: url('../images/svg/icon/magnifier.svg');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: left 13px center;

    &::placeholder {
      font-weight: 400;
      color: $dark-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:active {
      color: rgba($white, 0.5);
    }
  }

  &__btn {
    padding: 13px 50px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:active {
      color: rgba($white, 0.5);
      background-color: $dark-800;
    }
  }
}