.header {
  color: $white;

  &__top {
    background-color: $dark-800;
    padding: 8px 0;
  }

  &__inner {
    align-items: center;
    padding: 6px 0;
    @include flx;
  }

  &__bottom {
    background-color: $green-900;
    padding: 20px 0;
  }

  &__logo {
    margin-right: 25px;
    &__img {
      object-fit: cover;
    }
  }

  &__catalog {
    margin-right: 30px;
  }

  &__button {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: $green-900;
    padding: 14px 41px 14px 59px;
    background-repeat: no-repeat;
    background-color: $white;
    transition: background-color 0.5s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
    }

    &::before {
      left: 0;
      transform: translate(60%, -50%);
      width: 24px;
      height: 20px;
      background-image: url('../images/svg/icon/burger.svg');
    }

    &::after {
      right: 12px;
      transform: translate(7%, -50%);
      width: 8px;
      height: 4px;
      background-image: url('../images/svg/icon/chevron.svg');
    }

    &:focus {
      background-color: $white;
    }

    &:hover,
    &:active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;
    }

    &:hover::after {
      transform: rotate(180deg);
      top: 45%;
      transition: rotate 0.5s;
    }
  }

  &__form {
    margin-right: 45px;
  }
}