.menu {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

  &__item {

    &--delivery {
      padding-left: 44px;
      background-image: url('../images/icon/delivery.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
    }

    &--phone {
      padding-left: 40px;
      background-image: url('../images/icon/phone.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s;
    }
  }
}