.user {
  display: flex;

  &__item {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 9px;
    border-radius: 3px;
    fill: $white;
    transition: background-color 0.5s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }
  }

  &__profile {
    fill: $white;
    
    &--user {
       width: 25px;
       height: 32px;
    }

    &--heart {
       width: 32px;
       height: 29px;
    }

    &--cart {
       width: 32px;
       height: 31px;
    }
  }

  &__num {
    position: absolute;
    right: 30px;
    top: 3px;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0;
    padding: 0 3px;
    color: $red-900;
    text-align: center;
    border-radius: 10px;
    background-color: $white;
  }
}