<section class="advant">
  <div class="container">
    <h2 class="sr-only">Преимущества</h2>

    <ul class="advant__items">
      <li class="advant__item advant__item--shipp" style="background-image: url(images/icon/scooter.svg)">
        <h3 class="advant__subtitle">Бесплатная доставка</h3>
        <p class="advant__text">
          Для заказов на сумму от 500 ₽
        </p>
      </li>
      <li class="advant__item advant__item--refund" style="background-image: url(images/icon/return.svg)">
        <h3 class="advant__subtitle">Возврат товара</h3>
        <p class="advant__text">
          Если товары были испорчены
        </p>
      </li>
      <li class="advant__item advant__item--support" style="background-image: url(images/icon/support.svg)">
        <h3 class="advant__subtitle">Поддержка 24/7</h3>
        <p class="advant__text">
          Лучшие операторы
        </p>
      </li>
    </ul>
  </div>
</section>