<section class="top">
  <h2 class="sr-only">навигация по страницам сайта</h2>
  <div class="container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Главная
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Каталог товаров
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section class="catalog">
  <div class="container">

  </div> -->
</section>