<section class="top">
  <h2 class="sr-only">навигация по страницам сайта</h2>
  <div class="container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Главная
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Каталог товаров
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="catalog">
  <div class="container">
    <h2 class="title catalog__title">Каталог товаров</h2>
    <div class="catalog__inner">
      
      <div class="filters catalog__filters">
        <div class="filters__item filters-category">
          <button class="filters__btn filters-category__btn" type="button">Категории</button>
          <ul class="filters__list filters-category__list">
            <li class="filters__list-item">
              <a class="filters__link" href="#">Овощи и фрукты</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Бакалея</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Молочные продукты</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Хлеб</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Мясо</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Колбаса</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Рыба</a>
            </li>
            <li class="filters__list-item">
              <a class="filters__link" href="#">Алкоголь</a>
            </li>
          </ul>
        </div>

      </div>
      
      <div class="catalog__content"></div>

  </div>
</section>