 <header class="header">
   <nav class="header__menu">

     <div class="header__top">
       <div class="container">
         <div class="header__inner">

           <ul class="menu header__menu-item">
             <li class="menu__item menu__item--delivery header--delivery">
               <a class="menu__link" href="#">адрес и время доставки</a>
             </li>
             <li class="menu__item menu__item--phone">
               <a class="menu__link" href="tel:+7907288365">горячая
                 линия 24/7</a>
             </li>
           </ul>

           <ul class="menu">
             <li class="menu__item">
               <a class="menu__link" href="#">доставка</a>
             </li>
             <li class="menu__item">
               <a class="menu__link" href="#">о нас</a>
             </li>
             <li class="menu__item">
               <a class="menu__link" href="#">новости</a>
             </li>
           </ul>
         </div>
       </div>
     </div>

     <div class="header__bottom">
       <div class="container">
         <div class="header__inner">
           <a class="logo header__logo" href="#">
             <img class="logo__img" src="images/svg/logo.svg" width="200" height="60" alt="Логотип магазина">
           </a>
           <div class="header__catalog">
             <button class="header__button button" type="button">
               Каталог продуктов
             </button>
           </div>

           <form class="form-search header__form">
             <label class="form-search__label">
               <span class="sr-only">Поиск товара в магазине</span>
               <input class="form-search__input" type="search" name="search" placeholder="Найти в магазине..." required>
             </label>
             <button class="form-search__btn button" type="button">поиск</button>
           </form>

           <div class="user">
             <a class="user__item" href="#">
               <span class="sr-only">перейти в личный кабинет</span>
               <svg class="user__profile user__profile--user">
                 <use xlink:href='images/sprite.svg#icon--user'></use>
               </svg>
             </a>
             <button class="user__item" type="button">
               <span class="sr-only">перейти в избранные товары</span>
               <svg class="user__profile user__profile--heart">
                 <use xlink:href='images/sprite.svg#icon--heart'></use>
               </svg>
               <span class="user__num">12</span>
             </button>
             <button class="user__item" type="button">
               <span class="sr-only">перейти в корзину</span>
               <svg class="user__profile user__profile--cart">
                 <use xlink:href='images/sprite.svg#icon--cart'></use>
               </svg>
               <span class="user__num">12</span>
             </button>
           </div>
         </div>
       </div>
     </div>
   </nav>
 </header>