.banners {
  padding: 0 0 70px 0;

  &__row {
    display: grid;
    grid-template-columns: 630px 300px 300px;
    grid-column-gap: 30px;
    height: 300px;
  }

  &__item {
    padding: 76px 32px;
    text-transform: uppercase;
    border-radius: $b-radius;
    @include bg;
    
    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__text {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 18px;
    @include line-clamp(12, 1, 2);
  }

  &__subtitle {
    max-width: 170px;
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 12px;
    @include line-clamp(30, 1.4, 2);
    @extend %ruda;

    &--shadow {
      max-width: 350px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__link {
    border-bottom: 2px solid;
    padding-bottom: 6px;
  }
}
