.promo {
  text-align: center;
  background-color: $silver-300;

  &__filter-btn {
    letter-spacing: 0.1em;
    
    &:hover,
    &:active {
      border-bottom: 3px solid rgba($green-900, 0.2);
    }
  }

  &__btn {
    margin-top: 48px;
  }
}

.promo-card {
  display: flex;
  height: 124px;
  padding: 12px;

  &__img {
    display: block;
    object-fit: cover;
    margin: 0 12px 0 0;
  }

  &__info-box {
    position: relative;
  }

  &__title {
    @include line-clamp(14, 1.4, 3);
  }

  &__status {
    position: absolute;
    left: 0;
    bottom: 24px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    @include line-clamp(10, 1, 1);

    &--avail {
      color: $green-900;
    }

    &--lack {
      color: $silver-600;
    }

    &--endeth {
      color: $red-900;
    }
  }

  &__prices {
    flex-direction: row-reverse;
    width: max-content;
    align-items: baseline;
    left: 50%;
    bottom: -3px;
    transform: translate(-39%);
  }

  &__price {
    font-size: 20px;
    line-height: 1;
    margin-right: 10px;
  
    &--old {
      font-size: 12px;
      color: $silver-600;
    }
  }

  &__rating {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  &__star {
    width: 16px;
    height: 16px;
    fill: $yellow-900;
  }
}