.promo {
  text-align: center;
  background-color: $silver-300;

  &__filter-btn {
    letter-spacing: 0.1em;
    
    &:hover,
    &:active {
      border-bottom: 3px solid rgba($green-900, 0.2);
    }
  }

  &__btn {
    margin-top: 48px;
  }
}

.promo-card {
  display: flex;
  flex-direction: inherit;
  height: 124px;
  padding: 12px;

  &__link-img {
    flex: none;
    margin: 0 12px 0 0;
  }

  &__img {
    object-fit: cover;
  }

  &__info-box {
    position: relative;
    flex-direction: column;
    @include flx;
  }

  &__title {
    flex: 1 auto;
  }

  &__link {
    @include line-clamp(14, 1.4, 3);
  }

  &__status {
    bottom: 24px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    @include line-clamp(10, 1, 1);

    &--avail {
      color: $green-900;
    }

    &--lack {
      color: $silver-600;
    }

    &--endeth {
      color: $red-900;
    }
  }

  &__prices {
    position: relative;   
  }

  &__price {
    font-size: 20px;
    line-height: 1;
    margin-right: 12px;

    &--currency {
      font-size: 14px;
    }
  
    &--old {
      font-size: 12px;
      color: $silver-600;
    }
  }

  &__rating {
    position: absolute;
    height: max-content;
    right: 12px;
    bottom: 12px;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  &__star {
    width: 16px;
    height: 16px;
    fill: $yellow-900;
    margin-left: 3px;
  }
}